*{
	padding: 0;
	margin: 0;
}
.make-round{
	border-radius: 50%;
}
.width-20-per{
	width: 20%
}
.p-15{
	padding-right: 15px;
	padding-left: 15px;
}
.mt-15{
	margin-top: 15px;
}
.mb-15{
	margin-bottom: 15px;
}