*{
	padding: 0;
	margin: 0;
}
.make-round{
	border-radius: 50%;
}
.width-20-per{
	width: 20%
}
.p-15{
	padding-right: 15px;
	padding-left: 15px;
}
.p-30{
	padding-right: 30px;
	padding-left: 30px;
}
.mt-10{
	margin-top: 10px;
}
.mt-15{
	margin-top: 15px;
}
.mt-30{
	margin-top: 30px;
}
.mb-15{
	margin-bottom: 15px;
}
.make-bold{
	font-weight: 600
}
.mb-30{
	margin-bottom: 30px
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.clear{
	clear: both;
}
.pt-30{
	padding-top: 30px
}
.pt-15{
	padding-top: 15px
}
.heighlight-dark{
	color: #ffe100;
}
.ml-15{
	margin-left: 15px;
}
.btn-white{
	display: inline-block;
    background: #fff;
    border-radius: 4px;
    padding: 5px;
    color: #000;
}
.btn-black{
	display: inline-block;
    background: #000;
    border-radius: 4px;
    padding: 5px;
    color: #fff;
}
.make-italic{
	font-style: italic;
}
.bg-highlight{
	background: #ffffb4;
}