.about-bg{
	background: #564a3c;
	color: #ffffff;
}
a:visited{
	color: #00daff;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.w-50{
	width: 50%;
}
.w-300-px{
	width: 300px;
	height: 300px;
}
p::first-letter{
	font-size: 1.5em;
}
span.make-indent{
	display: inline-block;
    text-indent: 50px;
}

